<div class="uk-navbar-container tm-navbar-container uk-navbar-transparent uk-sticky uk-sticky-fixed">    
        <div class="uk-navbar-left">
            <a  style="color: black;" class="uk-navbar-item uk-logo uk-active" href="/" aria-label="Back to Home" aria-current="page">
            <img src="{{navbar.iconUrl}}" class="uk-margin-small-right" [height]="30" [width]="54" alt="FalloutAPI">
            Rick & Morty API</a>
        <div class="uk-navbar-right">
                <form method="POST"  (ngSubmit)="sendInput()" class="uk-search uk-search-default">
                    <button class="uk-search-icon-flip" onclick="sendInput()" uk-search-icon></button>
                    <input class="uk-search-input" name="searchBar" type="search" placeholder="Search" aria-label="Search">
                </form>
        <div class="uk-navbar-right">
        </div>
</div>
</div>
</div>









   
    